*{
    margin: 0;
    box-sizing: border-box;
  }
  h2{
    color: aliceblue;
  }
  .user-header{
    background-color: #273238;
    height: 200px;
    width: 100%;
  }
  .content-header{
    text-align: center;
    padding-top: 80px;
  }
  .add-btn{
    background-color: #00D563;
    border-radius: 10px;
    margin-top: 10px;
    padding: 14px 40px;
    color: #fff;
    border: none;
    text-transform: capitalize;
  }